<launch>
    <node pkg="scenario_builder" type="scenario_generator_node.py" name="scenario_generator_node" />

    <node pkg="mlc" type="mlc_node" name="mlc_node" />

    <node pkg="state_converter" type="state_converter_node" name="state_converter_node" />

    <node pkg="scene_viewer" type="scene_viewer_node.py" name="scene_viewer" output="screen" />

    <node pkg="keyboard_listener" type="keyboard_listener" name="keyboard_listener" />


    <node pkg="rl_algo" type="rl_algo_node.py" name="rl_algo_node" />

    <node pkg="kpis_tracker" type="kpis_tracker_node.py" name="kpis_tracker_node" />

    <!-- <node name="record" pkg="rosbag" type="record" args="-a -O
    /tmp/manual_controller_output.bag"/> -->

</launch>